{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container wiki-detail">

    <article class="detail-card">

        <div class="detail-header">
            <h1>{{ wiki_entry.title }}</h1>

            <p class="category">
                {{ wiki_entry.get_category_display }}
            </p>
        </div>

        {% if wiki_entry.image %}
            <img
                src="{% static wiki_entry.image %}"
                alt="{{ wiki_entry.title }}"
                class="detail-image"
            >
        {% endif %}

        <div class="detail-content">
            {{ wiki_entry.content|linebreaks }}
        </div>

        <div class="detail-actions-row">

            <div class="detail-actions">
                {% if user == wiki_entry.author %}
                    <a class="btn-edit" href="{% url 'wiki_edit' wiki_entry.pk %}">
                        Edit
                    </a>

                    <a class="btn-delete" href="{% url 'wiki_delete' wiki_entry.pk %}">
                        Delete
                    </a>
                {% endif %}
            </div>

            {% if wiki_entry.category == "character" %}
                <a href="{% url 'characters' %}" class="back-button">
                    ← Back to Characters
                </a>
            {% endif %}

        </div>

    </article>

</div>

{% endblock %}