{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>{{ wiki_entry.title }}</h1>

    <p><strong>Category:</strong> {{ wiki_entry.get_category_display }}</p>

    <p><strong>Author:</strong> {{ wiki_entry.author }}</p>

    <div>
        {{ wiki_entry.content }}
    </div>

    {% if user == wiki_entry.author %}
        <div>
            <a href="{% url 'wiki_edit' wiki_entry.pk %}">Edit</a>
            <a href="{% url 'wiki_delete' wiki_entry.pk %}">Delete</a>
        </div>
    {% endif %}
</div>

{% endblock %}